* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.news::-webkit-scrollbar {
    width: 3px;
  }

body::-webkit-scrollbar {
    width: 10px;
   background-color: rgb(233, 162, 8);

  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px  rgb(233, 162, 8);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid  rgb(233, 162, 8);
  }

hr {
    color: white;
}

.topPage {
height: 100vh;
display: flex;
justify-content: center;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerContact {
    width: 90%;
    max-width: 500px;
display: flex;
justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
    margin-top: -10vh;
    padding: 40px;
    box-shadow: 0px 0px 20px black;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50px;
    border: 3px solid white;
    backdrop-filter: blur(5px);
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
}

textarea {
    resize: none;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.btn-warning {
    background-color: rgb(233, 162, 8);
}

.h2 {
margin: 50px;
}

.box {
  background-color: white;
  width: 500px;
  height: 500px;
  margin: auto auto;
  display: flex;
}

.navbar {
    width: 100%;
    height: 5vh;
}

.listenNow {
    margin-top: 50vh;
}

.news {
    display: block;
    flex-direction: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    float: left;
}

.news-group {
    margin: 20px;
   border-radius: 40px;
   background-color: black;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
   padding-top: 40px;
   margin: 50px;
   display: block;
   z-index: -1;
   max-height: 100%;
   float: left;
   border: 1px rgb(233, 162, 8) solid;
   width: 100%;
}

h1 {
    text-shadow: 1px 1px 5px black;
}

.newsgroup h1 { 
    float: left;
}

.photograph img{
 overflow: hidden;
 float: left;
 width: 20vw;
  border-radius: 20PX;
  border: 2px solid white;
  margin-top: -80px;
  margin-left: -100px;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  height: 20%;
  overflow-y: hidden;

}

hr {
    background-color: white;
    color: white;
}

.news-group-end {
    margin: 20px;
    margin-bottom: 30vh;
    padding: 20px;
    text-align: center;
    color: black;
    width: 100%;
   border-radius: 40px;
   background-color: rgba(233, 162, 8,  0.7);
   float: left;

}

.container {
margin: auto auto;
height: 200vh;
width: 100vw;
padding: auto auto;
}

body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 20px;
    
}

.backgroundImgStatic {
    background-image: url("../assets/IMG_0049.png");
     right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
    margin-bottom: -10px;
}

.nameTitle {
font-size: 5vh;
justify-content: center;
align-content: center;
} 

video {
  position: fixed; 
  min-width: 100vw; min-height: 100%;
  width: 100%; height: auto; z-index: -100;
  background-size: cover;
  background-color: black;
}

/* .fa {
    font-size: 35px;
    margin: 20px;
} */

.fa {
  margin: 20px;
  font-size: 35px;
  color: white;

}

.faBig {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
 
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;

  }

a :hover{
    color: grey;
    text-decoration: none;
}

.menu {
font-size: 35px;
}

.bttn {
    border: 2px solid white;
    background-color: rgba(255,255,255, 0.25);
    border-radius: 10px;
    color: white; 
    box-shadow: 1px 1px 10px black;
    font-size: 70px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30vw;
    height: 130px;
    margin: auto auto;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    height: 20px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .socials {
      display: flex;
  }

.listenContainer {
  margin: 20px;
  height: 50vh;
max-width: 20%;
align-items: center;
justify-content: center;
}

.listenPageBG {
    background-image: url("../assets/IMG_0410.jpg");
    background-size: cover;
    background-color: black;
    width: 100vw;
    height: 100vh;
     right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    margin-bottom: -10px;
    width: 100%; height: auto; z-index: -100;
    background-size: cover;
}

.wrapAround {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: auto auto;
    align-items: center;
    justify-content: left;
  }

  .musicBox img {
    backdrop-filter: blur(5px);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.623);
    background-color: rgba(255, 255, 255, 0.35);
    float: left;
    padding-top: 20px;
    max-width: 100%;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: left;
    justify-content: center;
    text-align: center;
    align-content: center;

  }

  iframe {
    margin-right: 20px;
    margin-left: 50px;
    height: 50vh;
    display: flex;
  }

  #status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto; 
    border-radius: 8px;
  }

  #status.success{
      background-color: green;
  }

  #status.error{
      background-color: red;
  }

  .bio {
    color: white;
    border: 1px white solid;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30vh;
    width: 80vw;
    height: 80vh;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(5px);
  }

  #mc_embed_signup{
    background:rgb(29, 10, 10);  
    padding: 20px;
    width: 30vw;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    display: flex;
    }

  .containsBio {
    background: url("../assets/IMG_0464.jpg");
    right: 0; bottom: 0;
    height: 100%;
    min-width: 100%; min-height: 100%;
    width: 100vw; height: auto; z-index: -100;
    background-size: cover;
    padding: 20px;
    margin-bottom: -10px;
    }

    #mc_embed_signup input {
      height: 2%;
      margin: 10px;
    }

    .bottomPage {
        width: 100%;
        margin-top: 15px;
        display: flex;
        background-color: black;
        position: fixed;
        bottom: 0;
    }
    
.foot {
    background-color: black;
    height: 100%;
    margin-right: -20;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

