* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #e9a208;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #e9a208;
          box-shadow: inset 0 0 6px #e9a208;
}

body::-webkit-scrollbar-thumb {
  background-color: Black;
  outline: 1px solid #e9a208;
}

body {
  margin: 0px;
  width: 100vw;
  max-width: 100%;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 20px;
  overflow-x: hidden;
}

hr {
  background-color: white;
  color: white;
}

.btn-warning {
  background-color: #e9a208;
}

h1 {
  text-shadow: 3px 3px 5px Black;
}

.topPage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backgroundImgStatic {
  background-image: url("../assets/IMG_0049.png");
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  padding-bottom: 20px;
}

section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerContact {
  width: 90%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 20px Black;
          box-shadow: 0px 0px 20px Black;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  border: 3px solid white;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  margin-top: 5px;
}

textarea {
  resize: none;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 5px;
  color: Black;
  cursor: pointer;
  margin-top: 10px;
}

.box {
  background-color: white;
  width: 500px;
  height: 500px;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  width: 100vw;
  height: 5vh;
}

.news::-webkit-scrollbar {
  width: 3px;
}

.news {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: left;
          flex-direction: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  max-width: 100vw;
  margin: auto auto;
  padding: 20px;
  border-radius: 5px;
  float: left;
}

.news-group {
  margin: 20px;
  border-radius: 40px;
  background-color: Black;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 50px;
  display: block;
  z-index: -1;
  max-height: 100%;
  float: left;
  border: 1px #e9a208 solid;
  width: 100vw;
  max-width: 100vw;
}

.newsgroup h1 {
  float: left;
}

.photograph img {
  overflow: hidden;
  float: left;
  width: 20vw;
  border-radius: 20px;
  border: 2px solid white;
  margin-top: -80px;
  margin-left: -100px;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  height: 20%;
  overflow-y: hidden;
}

.news-group-end {
  margin: 20px;
  margin-bottom: 5%;
  margin: auto auto;
  padding: 20px;
  text-align: center;
  color: Black;
  width: 100%;
  border-radius: 40px;
  background-color: rgba(233, 162, 8, 0.7);
}

.nameTitle {
  font-size: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

video {
  position: fixed;
  min-width: 100vw;
  min-height: 100%;
  width: 100vw;
  height: auto;
  z-index: -100;
  background-size: cover;
  background-color: Black;
}

.videoReplacement {
  background-image: url("../assets/albumcover.jpg");
  position: fixed;
  background-position: center center;
  min-width: 100vw;
  min-height: 100%;
  width: 100vw;
  height: auto;
  z-index: -100;
  background-size: cover;
  background-color: Black;
}

/* .fa {
  font-size: 35px;
  margin: 20px;
} */
.fa {
  margin: 20px;
  font-size: 35px;
  color: white;
}

.faNav {
  color: #e9a208;
  text-shadow: 1px 1px #1d0a0a;
}

.faBig {
  font-size: 1vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

a :hover {
  color: grey;
  text-decoration: none;
}

.menu {
  font-size: 35px;
}

.containerHome {
  width: 100%;
  height: 95vh;
  padding: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40vh;
}

.bttn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 2px solid white;
  width: 30vw;
  min-width: 30vw;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  color: white;
  -webkit-box-shadow: 1px 1px 10px Black;
          box-shadow: 1px 1px 10px Black;
  font-size: 50px;
  backdrop-filter: blur(20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(20px);
  font-family: "Amatic SC", cursive;
  font-weight: 400;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.listenPageBG {
  background-image: url("../assets/IMG_0410.jpg");
  background-size: cover;
  background-color: Black;
  height: 100%;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  margin-bottom: -10px;
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.listenContainer {
  background-color: red;
  margin: 20px;
  height: 50vh;
  max-width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapAround {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.musicBox img {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.623);
  background-color: rgba(255, 255, 255, 0.35);
  float: left;
  padding-top: 20px;
  min-width: 250px;
  max-width: 100%;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  width: 70%;
  max-height: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: left;
          flex-direction: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.listenLeft {
  background-color: purple;
  height: 40vh;
  width: 25%;
  min-width: 250px;
  margin: 20px;
}

.listenMiddle {
  float: left;
  margin: 20px;
  height: 50%;
  width: 25%;
}

.listenLeftMobile {
  height: 40vh;
  width: 80%;
  min-width: 250px;
  margin: 20px;
}

.listenMiddleMobile {
  float: left;
  margin: 20px;
  width: 80%;
  min-width: 250px;
}

.musicBoxMobile img {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.623);
  background-color: rgba(255, 255, 255, 0.35);
  float: left;
  padding-top: 20px;
  min-width: 100%;
  max-width: 100%;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  max-height: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

iframe {
  float: left;
  width: 100%;
  height: 100%;
}

.bottomPage {
  width: 100%;
  height: 320px;
  float: left;
  display: block;
  background-color: black;
}

.bottomPageLeft {
  width: 55%;
  float: left;
  padding: 10px;
  display: table;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.foot .fa {
  font-size: 1rem;
}

.foot .fontSize {
  font-size: 55%;
  word-wrap: break-word;
}

.foot h5 {
  text-transform: uppercase;
}

.bottomPageRight {
  background-color: purple;
  width: 45%;
  height: 100%;
  float: left;
}

#mc_embed_signup {
  background: #1d0a0a;
  height: 100%;
  text-align: center;
}

#mc_embed_signup h5 {
  padding: 10px;
}

.mc-field-group {
  display: table;
  width: 100%;
}

.mc-field-group label {
  display: table-cell;
  width: 5px;
}

.mc-field-group input {
  display: table-cell;
  width: 80%;
}

#mc_embed_signup input {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: green;
}

#status.error {
  background-color: #a37a7a;
}

.containsBio {
  background: url("../assets/IMG_0464.jpg");
  right: 0;
  bottom: 0;
  min-width: 100%;
  width: 100vw;
  height: auto;
  z-index: -100;
  background-size: cover;
  padding-bottom: 20px;
}

.bio {
  color: white;
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.containerNews {
  padding: auto auto;
  width: 100vw;
  height: 100%;
}

.card-body {
  color: white;
  background-color: black;
  border: 5px 5px 5px yellow;
}

.card {
  margin: 20px;
  width: 60%;
}
/*# sourceMappingURL=style.css.map */